@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<style>
    :root {
        --mud-palette-primary: #388CFF;
        --mud-palette-primary-rgb: 56,140,255;
        --mud-palette-primary-darken: rgb(55,122,239);
        --mud-palette-primary-lighten: rgb(57,161,255);
    }

</style>
<MudLayout>
    <MudAppBar Style="@_appBarBackgroundColorCSS">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton OnClick="DrawerToggle" Icon="@Icons.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start" />
            <div class="flex-grow-1"></div>
            <NavLink ActiveClass="d-flex" href="/">
                <SmallTaskForceLogo />
            </NavLink>
            <div class="flex-grow-1"></div>
        </MudHidden>       
        
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <NavLink ActiveClass="d-flex me-4" href="/">
                <SmallTaskForceLogo/>
            </NavLink>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="/#software-development">Software services</MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="">Automation</MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="">Smart home</MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" >Contact us</MudButton>
        
        <MudSpacer />

        <MudTooltip Duration="1000" Text="@themModeText">
                <MudToggleIconButton ToggledChanged="@OnThemeModeChange" Icon="@Icons.Material.Filled.LightMode"
                                     ToggledIcon="@Icons.Material.Filled.DarkMode"></MudToggleIconButton>
        </MudTooltip>       
        
        </MudHidden>
        
        
    </MudAppBar>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">        
        <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
            <MudDrawerHeader>
                <MudToggleIconButton ToggledChanged="@OnThemeModeChange" Icon="@Icons.Material.Filled.LightMode"
                                     ToggledIcon="@Icons.Material.Filled.DarkMode"></MudToggleIconButton>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>
    </MudHidden>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
