@inherits LayoutComponentBase
@inject IJSRuntime js

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Transparent">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton OnClick="DrawerToggle" Icon="@Icons.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start" />
            <div class="flex-grow-1"></div>
            <NavLink ActiveClass="d-flex" href="/">
                <SmallTaskForceLogo />
            </NavLink>
            <div class="flex-grow-1"></div>
        </MudHidden>       
        
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <NavLink ActiveClass="d-flex me-4" href="/">
                <SmallTaskForceLogo/>
            </NavLink>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="/#software-development">Software services</MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="">Automation</MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" Href="">Smart home</MudButton>
            <MudButton Variant="Variant.Text" Style="text-transform:none" >Contact us</MudButton>
        
        <MudSpacer />

            <MudTooltip Duration="1000" Text="@themModeText">
                <MudSwitch CheckedChanged="@OnThemeModeChange" Color="Color.Primary" Class="ma-4" T="bool"/>
        </MudTooltip>

        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor/" Target="_blank" />
        </MudHidden>
        
        
    </MudAppBar>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">        
        <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
            @*<MudDrawerHeader>
                <MudText Typo="Typo.h6">SmallTaskForceWeb</MudText>
            </MudDrawerHeader>*@
            <NavMenu />
        </MudDrawer>
    </MudHidden>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
